@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&display=swap");

/* font seçimi */
* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #034f56;
  --black-color: #121212;
  --ext-color: #e9e0d2;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/home.png);
    background-color: var(--main-color);
    height: 500vh;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    color: var(--ext-color);
}

#cartList {
    list-style: none;
    padding: 0;
}

#cartList li {
    margin: 1rem 2rem;
    padding: 1rem 5rem;
    border: 1px solid #ccc;
    border-radius: 3rem;
    background-color: var(--ext-color);
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#cartList li button {
    background-color: var(--main-color);
    color: var(--ext-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}

#totalPrice {
    font-weight: bold;
    color: var(--ext-color);
    margin-top: 2rem;
    text-align: center;
}

.btn{
    background-color: var(--ext-color);
    color: var(--main-color);
    padding: 1rem 1rem;
    border: 1rem;
    border: var(--black-color);
    border-radius: 3rem;
    justify-content: center;
    margin: 0 43.5%;
}

.price{
    color: var(--ext-color);
    font-size: 1.75rem;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

/*FOOTER*/

.footer {
    background: url(../images/home.png);
    background-color: var(--ext-color);
    height: 57vh;
    background-size: cover;
    align-items: center;
    text-align: center;
  }
  
  .soci {
    color: var(--ext-color);
    font-size: 2rem;
    font-weight: bolder;
    background-color: var(--main-color);
    margin: auto;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
  }
  
  .footer .btn-soc {
    padding: 2rem 0;
  }
  
  .footer .btn-soc a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    margin: 0.3rem;
  }
  
  .footer .btn-soc a:hover {
    background-color: var(--black-color);
  }
  
  .footer .telveadres {
    background-color: var(--main-color);
    color: var(--ext-color);
    text-align: center;
    margin: 1rem;
    display: inline-block;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    border-radius: 7.77rem;
    margin-left: -3rem;
    font-weight: bold;
  }
  
  .footer .telad-but {
    padding: 0.2rem 0;
    padding-bottom: 2rem;
  }
  
  .footer .telad-but a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    margin-right: 4rem;
    margin-left: -4rem;
  }
  
  .footer .copyright {
    background-color: var(--ext-color);
    color: var(--main-color);
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 2rem;
    display: inline-block;
    border-radius: 2.5rem;
  }
  
  .footer .telno {
    font-weight: bold;
    color: var(--main-color);
  }
  
  .footer .adres {
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
  }
  
  /* FOOTER*/
  
  .copyrighttext{
    color: var(--main-color);
  }
  .copyrighttext:hover{
    color: var(--main-color);
    text-decoration: underline;
  }

