@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&display=swap");

/* font seçimi */
* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #034f56;
  --black-color: #121212;
  --ext-color: #e9e0d2;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2 ease;
}

/* base html codes */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

section {
  padding: 3.5rem 7%;
  margin-bottom: 20px;
}

/*.btn{ /*ürün butonları
          margin-top: 2rem;
          display: inline-block;
          padding: 1rem 2.5rem;
          border-radius: 30rem;
          /*font-size: 1.75rem;
          color: var(--ext-color);
          background-color: var(--main-color);
          font-weight: bold;
          cursor: pointer;
        
          /*padding: 0.75rem;
          margin-: 1rem;
          background-color: var(--main-color);
          color: var(--ext-color);
          border-radius: 1.37rem;
          cursor: pointer;
          font-weight: bold;
        }*/

.body .freeship {
  background-color: var(--ext-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
}
.freeship {
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color); /* Başlangıç rengi */
  animation: colorChange 5s infinite; /* 5 saniyede bir renk değişimi animasyonu */
}

/* Renk değişimi animasyonu tanımı */
@keyframes colorChange {
  0% {
    color: var(--main-color); /* Başlangıç rengi */
  }
  50% {
    color: var(--ext-color); /* Yeni renk */
  }
  100% {
    color: var(--main-color); /* Başlangıç rengi */
  }
}

/* header start*/

/* logo büyüklüğü*/
.header .logo img {
  height: 7rem;
}

.header {
  background-color: var(--ext-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  /*headerın scroll boyunca üstte sabitlenmesi için*/
  position: sticky;
  top: 0;
  z-index: 1000; /*headerın üstte kalabilmesi için*/
}

.freeship {
  background-color: var(--black-color);
  display: flex;
  padding: 1rem;
  color: white;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 auto;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header .navbar a:after {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.header .navbar a.active:after,
.header .navbar a:hover:after {
  width: 100%;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}

/* header end*/


ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 250px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.img{
  width: 400px; 
height: 400px; 
object-fit: contain;
border: 2px solid #ccc;
border-radius: 10px; 
margin: 1rem 1rem;
}
/* Ürün başlığı ve açıklaması */
h2 {
  font-size: 1.2rem;
  margin-top: 10px;
}

p {
  font-size: 1rem;
  color: #555;
}

/* Fiyat bilgisi */
.product-price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ext-color);
  position: absolute;
  left: 570px;
  top: 350px;

}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
}

.product-name{
  color: var(--ext-color);
  position: absolute;
  top: 220px;
  left: 570px;
}

.add-to-cart{
  background-color: var(--ext-color);
  color: var(--main-color);
  border: var(--black-color);
  font-weight: bold;
  padding: 1rem 1rem;
  border-radius: 2.5rem;
  font-size: 1.75rem;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 400px;
  left: 600px;
  }
  
  
  .view-cart{
    background-color: var(--ext-color);
    color: var(--main-color);
    border: var(--black-color);
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 2.5rem;
    font-size: 1.75rem;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 400px;
    left: 730px;

  }

  .product-description{
    font-weight: bold;
    width: auto;
    color: var(--ext-color);
    margin-left: 50%;
    font-size: 2rem;
    display: block;
    position: relative;
    right: 380px;
    top: 120px;
    }

/*FOOTER*/

.footer {
  background: url(../images/home.png);
  background-color: var(--ext-color);
  height: 57vh;
  background-size: cover;
  align-items: center;
  text-align: center;
}

.soci {
  color: var(--ext-color);
  font-size: 2rem;
  font-weight: bolder;
  background-color: var(--main-color);
  margin: auto;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
}

.footer .btn-soc {
  padding: 2rem 0;
}

.footer .btn-soc a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--main-color);
  background-color: var(--main-color);
  border-radius: 50%;
  margin: 0.3rem;
}

.footer .btn-soc a:hover {
  background-color: var(--black-color);
}

.footer .telveadres {
  background-color: var(--main-color);
  color: var(--ext-color);
  text-align: center;
  margin: 1rem;
  display: inline-block;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  border-radius: 7.77rem;
  margin-left: -3rem;
  font-weight: bold;
}

.footer .telad-but {
  padding: 0.2rem 0;
  padding-bottom: 2rem;
}

.footer .telad-but a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--main-color);
  background-color: var(--main-color);
  border-radius: 50%;
  margin-right: 4rem;
  margin-left: -4rem;
}

.footer .copyright {
  background-color: var(--ext-color);
  color: var(--main-color);
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 2rem;
  display: inline-block;
  border-radius: 2.5rem;
}

.footer .telno {
  font-weight: bold;
  color: var(--main-color);
}

.footer .adres {
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
}

/* FOOTER*/

.copyrighttext{
  color: var(--main-color);
}
.copyrighttext:hover{
  color: var(--main-color);
  text-decoration: underline;
}
.menu-container {
  display: flex;
  align-items: center;
  position: relative;
}

#menuBtn {
  display: none; /* Checkbox'ı gizleyelim */
}

#menuIcon {
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e9e0d2;
  border: 1px solid #034f56;
  border-radius: 3rem;
  position: absolute;
  top: 4rem;
  right: 1rem;
}

.menu li {
  margin-bottom: 1rem;
}

.menu a {
  text-decoration: none;
  color: #034f56;
  font-size: 2rem; /* Yazıları büyüt */
  font-weight: bold; /* Yazıları kalınlaştır */
  padding: 8px 15px;
  display: block;
}

/* Hamburger menü özelliğini CSS kullanarak ekleyelim */
#menuBtn:checked + .menu-icon .fa-bars {
  display: none;
}

#menuBtn:checked + .menu-icon .fa-times {
  display: block;
}

#menuBtn:checked ~ .menu {
  display: block;
}

/* Hamburger menü simgesini şekillendirelim */
.menu-icon {
  position: relative;
  cursor: pointer;
}

.menu-icon .fa-bars,
.menu-icon .fa-times {
  font-size: 24px;
}

.menu-icon .fa-times {
  display: none;
}

/* Kapatma simgesini şekillendirelim */
.close-icon {
  display: none;
  position: absolute;
  bottom: -30px;
  right: 10px;
  cursor: pointer;
}

#menuBtn:checked ~ .menu .close-icon {
  display: block;
}